<div class="wh">
  <mat-toolbar color="primary">
  ForTech
  <button mat-button routerLink="{{routeTitle}}" (click)="onChange()" *ngIf="!isUserLoggedIn">
    <mat-icon>login</mat-icon>
    {{routeTitle}}
  </button>
  <div *ngIf="isUserLoggedIn">
    <button mat-button routerLink="/home" class="active">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button routerLink="/channels">
      <mat-icon>store</mat-icon>
      Channels
    </button>
    <button mat-button routerLink="/leaderboard">
      <mat-icon>supervised_user_circle</mat-icon>
      Leaderboard
    </button>
    <button mat-button (click)="openDialog()" >
      <mat-icon matBadge="{{this.notificationsCount}}" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-button [routerLink]="['/profile', this.userId]">
      <span class="avatar avatar-sm rounded-circle">
        <img
          [src]="imagePath" width="30" height="35">
      </span>
    </button>
    <button mat-button routerLink="/login" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
